<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Add Company</title>
    <script language="javascript" type="text/javascript">
    function changeSubmitUrl()
    {
        var url="/account/send_sms_mobile";
        //alert(url);
        document.form1.action=url;
        document.form1.sumbit();
        //echo document.send_sms_btn;
        settime(this);
    }
    </script>
</head>
<body>
    <h1>Add Company</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" name="form1" method="post">
      <table>
            {{ form.as_table }}
      </table>
      <input type="submit" value="添加Company">
      <input type="submit"  name="send_sms_btn" onclick="javascript:changeSubmitUrl();" value="发送验证码">
    </form>
</body>
</html>
