<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Add Check</title>
</head>
<body>
    <h1>Check</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="add_check" method="post">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Add">
    </form>

    <form action="update_check" method="post">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Update">
    </form>

    <table>  
    {% for check in check_list%}
        <tr>
            <td><lable for='id_order_no'>id:</lable></td><td>{{ check.check_id}}</td>
            <td><lable for='id_custome_no'>day:</lable></td><td>{{ check.day}}</td>
            <td><lable for='id_name'>username:</lable></td><td>{{ check.username}}</td>
        </tr>  
    {% endfor %}
    </table>  
</body>
</html>
