<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Act</title>
    <script language="javascript" type="text/javascript">
    </script>
</head>
<body>
    <h1>Register</h1>

    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>
                <p style="color: red;">
                    {{ error }}
                </p>    
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post" name="form1">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Act">
    </form>
</body>
</html>
